header {
    background-color: rgb(56, 56, 207);
    text-align: center;
}

.div_1 {
    width: 50%;
    flex-direction: row;
    flex-wrap:wrap;
}

.div_2 {
    flex-direction: column;
}

#themain {
    display: inline;
    border-top: 30px solid lightblue;
}

main h1 {
    text-align: center;
}

.p {
    text-align: center;
}

header h1 {
    color:white;
}

#footer {
    border-style: solid;
    background-color: rgb(56, 56, 207);
    position: relative;
    bottom: 0;
}

footer p {
    color: rgb(56, 56, 207);
}