header {
    background-color: rgb(56, 56, 207);
    text-align: center;
}

#themain {
    border-top: 30px solid lightblue;
    width: 40%;
    margin-left: 10em;
}

main h1 {
    text-align: center;
}

.p {
    text-align: center;
}

header h1 {
    color:white;
}

#footer {
    border-style: solid;
    background-color: rgb(56, 56, 207);
    position: relative;
    bottom: 0;
}

footer p {
    color: rgb(56, 56, 207);
}